<section class="page-header section-sm"> 
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-dark mb-0">We are the Blogify, <br> Team of content writers and designers.</h2>
        </div>
      </div>  
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <div class="content">
            <p>If ever a place existed where you could just go crazy creatively, it is definitely your about page. It’s your chance to show your readers who you really are. Pictures, quotes, inspirational graphics, whatever it is that drives you.. Display it here in a way that only you can.</p>
            <p>I’ve included a plugin in the setup of this theme that will make adding columns to your pages and posts a piece of cake. Let creativity take control, and forget about the technical end of things, I’ve got your six.</p>
          </div>
        </div>
      </div>
    
    </div>
  </section>
  