<section class="page-header section-sm"> 
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="content">
            <h3 id="licensing-policy">Licensing Policy</h3>
            <p>By visiting and/or taking any action on our template, you confirm that you are in agreement with and bound by the terms outlined below. These terms apply to the website, emails, or any other communication.</p>
  
            <h4 id="here-are-terms-of-our-standard-license">Here are terms of our Standard License:</h4>
            <ul>
              <li>The Standard License grants you a non-exclusive right to make use of template you have purchased.</li>
              <li>You are licensed to use the Item to create one End Product for yourself or for one client (a “single application”), and the End Product can be distributed for Free.</li>
            </ul>
  
            <h4 id="if-you-opt-for-an-extended-license">If you opt for an Extended License:</h4>
            <ul>
              <li>You are licensed to use the Item to create one End Product for yourself or for one client (a “single application”), and the End Product maybe sold or distributed for free.</li>
            </ul>
  
            <h3 id="additional-policy">Additional Policy</h3>
            <p>By visiting and/or taking any action on our template, you confirm that you are in agreement with and bound by the terms outlined below. These terms apply to the website, emails, or any other communication.</p>
            <ul>
              <li>You have 2 days to evaluate your purchase. If your purchase fails to meet expectations set by the seller, or is critically flawed in some way, contact Bootstrap Themes and we will issue a full refund pending a review.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>